<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="/node_modules/core-js/client/shim.min.js"></script>
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>
    <script src="/systemjs.config.js"></script>
    <script>
        System.import('app').catch(function(err){ console.error(err); });
    </script>

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul id="services-list" class="nav navbar-nav">
                    <li>
                        <a class="image">
                            <img src="~/Content/Images/clock-icon.png" alt="Add Icon" />
                        </a> @Html.ActionLink("    ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                </ul> 
            </div>
			<div class="navbar-collapse collapse">
				<ul id="services-list" class="nav navbar-nav">
                    <li>
                        <a class="image">
                            <img src="~/Content/Images/view-entries-icon.png" alt="View Entries" />
                        </a>@Html.ActionLink("   ", "Index", "TimeSheetEntry")
                    </li>
					<li><a class="image">
                    <img src="~/Content/Images/addEntry.png" alt="Add Icon" />
                    </a>@Html.ActionLink("   ", "Create", "TimeSheetEntry")</li>
				</ul>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)

	@*<footer class="container-fluid text-center">
		<p>Footer Text</p>
	</footer>*@
</body>
</html>
