@model ContractorTimeChecker.Models.TimesheetSummaryModel

@{
    ViewBag.Title = "TimeSheet Summary Generator";
}

<div class="row">
    <h2>TimeSheet Summary Generator</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            Enter the information for the Contractor
            employee summary.
        </div>
    </div>
</div>
<div class="col-sm-12 text-left">
    <div class="col-md-4">
        @using (Html.BeginForm("Create", "TimeSheetSummary", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Candidate Name")
                </div>
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.CandidateNameIndex, Model.CandidateNamesVM.CandidateNames)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Client Name")
                </div>
                <div class="col-md-10">
                    @Html.TextBox("ClientName")
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Job Title")
                </div>
                <div class="col-md-10">
                    @Html.TextBox("JobTitle")
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Placement Start Date")
                </div>
                <div class="col-md-10">
                    <input type="date" name="PlacementStartDate">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Placement End Date")
                </div>
                <div class="col-md-10">
                    <input type="date" name="PlacementEndDate">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Placement Type")
                </div>
                <div class="col-md-10">
                    @Html.TextBox("PlacementType")
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" class="btn btn-default" value="Generate Timesheet" />
                </div>
            </div>
        }
    </div>
</div>
